
:root {
    --red: #e94141;
    --blue: #0086f4;
    --light-white: #f0f0f0;
    --border-size: 5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(
        to right, 
        var(--blue) 0%, 
        var(--blue) 50%, 
        var(--red) 50%, 
        var(--red) 100%
      );
}

.option {
    display: flex;
    border: var(--border-size) solid black;
    padding: 0.25rem;
    margin: 1rem;
    width: max-content;
    background: none;
}

.option > * {
    padding: 0.25rem;
    margin: 1rem;
    background: none;
}
.board {
    display: grid;
    margin: 1rem;
    grid-template-rows: 102px 102px 102px;
    grid-template-columns: 102px 102px 102px;
    justify-content: center;
    background: none;
}

.cell {
    border: 1px solid black;
    background: white;
}

.message {
    border: 1px solid black;
    width: 306px;
    height: 102px;
    justify-content: center;
    align-items: center;
    background: none;
}

button, select {
    border: var(--border-size) solid black;
    opacity: 0.8;
    background-color: var(--blue);
    border-radius: 5px;
    background: none;
}

label {
    background: none;
}

button:hover, select:hover {
    opacity: 1;
}